@font-face{
    font-family: "Montserrat";
  src:  url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face{
    font-family: "Montserrat";
  src:  url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face{
    font-family: "Montserrat";
  src:  url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face{
    font-family: "Montserrat";
  src:  url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face{
    font-family: "Montserrat";
  src:  url("../fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
}
.container{
    width: 1475px;
    margin: 0 auto;

}
a{
    text-decoration: none;

}
body{
    font-family: Montserrat;
    margin: 0;
    padding: 0;

}
.main{
    background: url('../img/photo/backgr.png') no-repeat center center / cover;
    
}
.header_wrapper{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 17px;
    padding-top: 27px;
}
.header_message{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    align-items: center;
}
.header_messangers{
    display:flex;
    
}
.header_icon{
    margin-right: 5px;
}
.header_mes_text{
    margin-right: 15px;
    color: white;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.header_number{
    color: white;
    display:flex;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
}
.header_number:hover{
    color:aquamarine;
    font-size: 40px;
}

hr{
    border: 1px solid #FFFFFF;

}
/* main section */
.main_section_wrapper{
    margin-top: 19px;
    padding-bottom: 50px;
}
.main_text{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 19px;
}
.main_text2{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 38px;
}
.main_detail_text{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
.main_detail_icon{
    margin-right: 50px;
}
.main_detail{
    display: flex;
    align-items: center;
}
.main_info{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
.main_btn{
    width: 299px;
    height: 91px;
    display: flex;
    align-items: center;
    background: #A56492;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 22px #FFFFFF;
    margin-left: 60px;
    justify-content: center;
    margin-top: 54px;
}
.main_btn_text{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-left: 17px;
}
.main_btn:hover{
    box-shadow: 0 0 22px #A56492;
}
/* Corona */
.corona_content{
    width: 600px;
    margin-left: 182px;
    margin-top: 20px;
}
.corona_wrapper{
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}
.corona_text{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 64px;
}
.corona_text2{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 64px;
}
.corona_btn{
    display: flex;
    align-items: center;
    background: #A56492;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 22px #402D50;
    margin-left: 50px;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-left: 17px;
    height: 91px;
    width: 480px;
}
.corona_btn:hover{
    box-shadow: 0 0 30px #f17aca;
}
.line1{
    border:1px solid #000000;
}
/* Director */

.colortext2{
    color:  #402D50;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.director_name{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.director_photo{
    margin-top: -25px;
}
.director_wrapper{
    display: flex;
    margin-top: 124px;
    margin-bottom: 100px;
}
.director_content{
    margin-left: 166px;
}
.director_beginning{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 12px;
}
.director_company{
    margin-bottom: 21px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #402D50;
}
.director_text{
    width: 613px;
    margin-bottom: 59px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.director_input_name{
    background: #A9A6A8;
    border-radius: 20px;
    font-family: 'Montserrat';  
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    width: 278px;
    height: 60px;
    text-align: center;
    border: none;
}
.director_input_name::placeholder{
    color: white;
}
.director_input_number{
    background: #A9A6A8;
    border-radius: 20px;
    font-family: 'Montserrat';  
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    width: 278px;
    height: 60px;
    text-align: center;
    border: none;
    margin-left: 55px;
}
.director_input_number::placeholder{
    color: white;
}
.director_input{
    margin-bottom: 63px;
}
.director_btn1{
    width: 278px;
    height: 91px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;  
    border: none;
    background: #bebcbe;
    border-radius: 20px; 
    margin-right: 58px;
}
.director_btn1:hover{
    box-shadow: 0 0 20px #c2babf;
}
.director_btn{
    display: flex;
}
.director_btn2{
    width: 278px;
    height: 91px;
    background: #A56492;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    border: none;
    justify-content: center;
}
.director_btn2:hover{
    box-shadow: 0 0 20px #f17aca;
}
.director_icon{
    margin-right: 9px;
}
/* City */
.city_wrapper{
    margin-bottom: 100px;
}
.city_video{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 144px;
    background: #C4C4C4;
    line-height: 176px;
    text-align: center;
    color: #FFFFFF;
    padding: 186px 230px;
    margin-left: 240px;
}
.city_content{
    margin-top: 350px;
    margin-bottom: 308px;
}
.colortext3{
    color: #402D50;
}
.city_text{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000000;
    margin-bottom: 38px;
}
.city_text2{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    position: absolute;
    margin-left: 430px;
    margin-top: -20px;
    border: 18px solid #FFFFFF;
}
.city_map{
    margin-left: -105px;
}
.city_btns{
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
}
.city_input{
    background: #A9A6A8;
    border-radius: 20px;
    width: 299px;
    height: 60px;
    color: white;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    border: none;
    text-align: center;
}
.city_input::placeholder{
    color: white;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;   
}
.city_btn{
    width: 299px;
    height: 60px;
    background: #A56492;
    border-radius: 20px;
    color: white;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    border: none;
    text-align: center;
    box-shadow: 0 0 10px #402D50;
}
.city_btn:hover{
    box-shadow: 0 0 20px #A56492;
}
/* Info */
.info_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000000;
}
.info_chapter{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}
.info_complex{
    margin-left: 370px;
    margin-top: 90px;
}
.info_blocks{
    margin-bottom: 30px;
    display: flex;
}
.info_block{
    margin-right: 40px;
    text-align: center;
}

/* worker */

.worker_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
}
.worker_block{
    margin-top: 240px;
    display: flex;
}
.worker_text{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    height: 24px;
    color: #000000;
}
.worker_wrapper{
    display: flex;
}
.worker_icon{
    margin-right: 20px;
}
.worker_photo{
    margin-left: 350px;
}

/* earn */

.color_text{
    color:#FFFFFF;
    background-color: #db86c2;
    padding: 5px 5px 5px;
}
.earn_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000000;
}
.earn_chapter{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}
.earn_chapter2{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}
.earn_line{
    margin-left: 270px;
    margin-bottom: 40px;
}
.earn_photo{
    display: flex;
    align-items: center;
}

/* order */

.order_wrapper{
    margin-top: 200px;
}
.colortext4{
    background-color: #A56492;
    color: white;
    padding: 3px 12px;
}
.order_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    text-align: center;
}
.colortext5{
    background-color: #A56492;
    color: white;
    padding: 10px 13px;
    text-align: center;
    margin-left: 43px;
}
.oreder_numbers_one{
    display: flex;  
    align-items: center;
}
.order_numbers_one{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
    color: #000000;
}
.order_line{
    position: absolute;
    margin-top: -50px;
}
.colortext6{
    background-color: #A56492;
    color: white;
    padding: 10px 13px;
    text-align: center;
    margin-left: 126px;
}
.order_number_two{
    margin-top: -90px;
}
.order_content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.order_equal{
    color: #A56492;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 100px;
}
.order_num{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
    color: #000000;
}




/* salary */

.salary_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000000;
}
.salary_block{
    display: flex;
    align-items: center;
}
.salary_icon{
    margin-right: 20px;
}
.color_text2{
    font-weight: 500;
}
.salary_text_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.salary_text_subtitle{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #402D50;
}
.salary_text{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.salary_blocks{
    display: flex;
}
.salary_photo{
    margin-left: 300px;
    margin-top: 200px;
}

/* pay */

.pay_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
}
.pay_subtitle{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.color_text3{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.pay_text_icon{
    margin-left: 30px;
    margin-top: 30px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.pay_content_pay{
    display: flex;
}
.pay_equals_icon{
    margin-top: 70px;
    margin-left: 200px;
    margin-right: 180px;
}
.pay_logo_icon{
    margin-top: 70px;
}

/* pr */

.pr_title{
    margin-top: 50px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000000;
}
.pr_subtitle{
    margin-top: 55px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.color_text4{
    font-weight: 700;
}
.pr_text{
    margin-top: 36px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}
.pr_text2{
    margin-top: 36px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.pr_wrapper{
    padding-bottom: 60px;
    background:url('../img/icon/pr.png')no-repeat center center / cover;
}

/* ex */

.ex_subtitle{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.ex_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
}
.ex_btn{
    margin-top: -20px;
    padding: 0 46px;
    align-items: center;
    background: #A56492;
    border-radius: 20px;
    border: none;
    display: flex;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
.ex_btn:hover{
    box-shadow: 0 0 10px #402D50;
}
.ex_btn_icon{
    margin-right: 14px;
}
.ex_btns{
    margin-top: 50px;
    justify-content: space-between;
    display: flex;
}
.ex_wrapper{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
}
.ex_input_name{
    background: #A9A6A8;
    border-radius: 20px;
    font-family: 'Montserrat';  
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    width: 278px;
    height: 70px;
    text-align: center;
    border: none;
}
.ex_input_name::placeholder{
    color: white;
}
.ex_input_number{
    background: #A9A6A8;
    border-radius: 20px;
    font-family: 'Montserrat';  
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    width: 278px;
    height: 70px;
    text-align: center;
    border: none;
    margin-left: 55px;
}
.ex_input_number::placeholder{
    color: white;
}

/* fran */

.fran_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000000;
}
.color_text5{
    color: #402D50;
}
.fran_wrapper{
    margin-bottom: 100px;
    margin-top: 100px;
}
.fran_subtitle{
    margin-bottom: 30px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}
.fran_btn{
    margin-bottom: 48px;
    background-color: #A56492;
    height: 260px;
    width: 260px;
    border: none;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: table;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.fran_btn:hover{
    box-shadow: 0 0 20px #A56492;
}

.fran_btn_icon{
    margin-bottom: 13px;
}
.fran_blocks{
    justify-content: space-between;
    display: flex;
    margin-top: 20px;
}

/* style */

.style_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000000;
}
.style_wrapper{
   margin-bottom: 100px;
}
.style_subtitle{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-top: 30px;
}
.style_btn{
    margin-top: 75px;
    padding: 24px 15px;
    background-color: #A56492;
    color: #FFFFFF;
    border: none;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    background: #A56492;
    border-radius: 20px;
}
.style_btn:hover{
    box-shadow: 0 0 20px #402D50;
}
.style_btns{
    display: flex;	
    justify-content: center;
}

/* rev */

.rev_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000000;
    margin-bottom: 65px;
    margin-top: 100px;
}
.rev_content{
    display: flex;
    justify-content: space-between;
}
.rev_btn{
    height: 186px;
    width: 325px;
    background-color: gray;
    border: none;
}
.rev_btn:hover{
    box-shadow: 0 0 10px #402D50;
}
.rev_btn{
    height: 185px;
    width: 325px;
    display: table;
    background: gray;
    border: none;
    margin-bottom: 50px;
}
.rev_btn:hover{
    box-shadow: 0 0 20px #180725;
}

/*be one */

.be_one_wrapper{
    margin-top: 50px;
    margin-bottom: 190px;
}
.be_one_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #000000;
    margin-top: -210px;
}
.be_one_icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* centre */

.centre_wrapper{
    margin-top: 50px;
    margin-bottom: 100px;
}
.centre_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000000;
}
.centre_subtitle{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}
.centre_input{
    display: flex;
    justify-content: space-between;
}
.centre_input_name{
    background: #A9A6A8;
    border-radius: 20px;
    font-family: 'Montserrat';  
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    width: 304px;
    height: 70px;
    text-align: center;
    border: none;
}
.centre_input_name::placeholder{
    color: white;
}
.centre_input_number{
    background: #A9A6A8;
    border-radius: 20px;
    font-family: 'Montserrat';  
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    width: 304px;
    height: 70px;
    text-align: center;
    border: none;
}
.centre_input_number::placeholder{
    color: white;
}
.centre_btn{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    width: 460px;
    height: 70px;
    color: white;
    background-color: #A56492;
    border: none;
    border-radius: 20px;
}
.centre_input{
    margin-top: 20px;
}
.centre_btn:hover{
    box-shadow: 0 0 20px #402D50;
}

/* benefit */

.benefit_wrapper{
    margin-bottom: 100px;
}
.benefit_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000000;
    margin-bottom: 60px;
}
.benefit_btns{
    display: flex;
    justify-content: space-between;
}
.benefit_btn{
    height: 260px;
    width: 260px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: table;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #A56492;
    border: none;
    margin-bottom: 50px;
}
.benefit_btn:hover{
    box-shadow: 0 0 20px #180725;
}
.benefit_brace{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.benefit_subtitle{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-top: 70px;
    margin-bottom: 40px;
}
.benefit_input{
    display: flex;
    justify-content: space-between;
}
.benefit_input_name{
    background: #A9A6A8;
    border-radius: 20px;
    font-family: 'Montserrat';  
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    width: 230px;
    height: 70px;
    text-align: center;
    border: none;
}
.benefit_input_name::placeholder{
    color: white;
}
.benefit_input_number{
    background: #A9A6A8;
    border-radius: 20px;
    font-family: 'Montserrat';  
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    width: 230px;
    height: 70px;
    text-align: center;
    border: none;
}
.benefit_input_number::placeholder{
    color: white;
}
.benefit_btn_input{
    width: 460px;
    font-family: 'Montserrat';  
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    height: 70px;
    color: white;
    background-color: #A56492;
    border: none;
    border-radius: 20px;
}
.benefit_btn_input:hover{
    box-shadow: 0 0 20px #402D50;
}

/* questions */

.questions_title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000000;
    margin-bottom: 60px;
}
.questions_wrapper{
    margin-top: 50px;
    margin-bottom: 100px;
}
.questions_block{
    display: flex;
    margin-bottom: 15px;
}
.questions_icon{
    margin-right: 14px;
    display: block;
    height: 60px;
    width: 60px;
}
.questions_question{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-top: -1px;
}
.quections_answer{
    color: black;
    margin-left: 14px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.questions_question2{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.colortext16{
    color: #402D50;
}

/* dir */

.dir_wrapper{
    display: flex;
    margin-bottom: 100px;
}
.dir_content{
    width: 613px;
}
.dir_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    margin-bottom: 30px;
}
.dir_text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.dir_info{
    margin-left: 170px;
}
.dir_photo{
    margin-left: 20px;
}
.dir_input{
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}
.dir_input_content{
    background: #A9A6A8;
    border-radius: 20px;
    font-family: 'Montserrat';  
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    width: 278px;
    height: 60px;
    text-align: center;
    border: none;
}
.dir_input_content::placeholder{
    color: white;
}
.dir_btns{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.dir_btn1{
    font-family: 'Montserrat';  
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    background: #A9A6A8;
    border-radius: 20px;
    color: white;
    height: 91px;
    width: 278px;
    border: none;
}
.dir_btn1:hover{
    box-shadow: 0 0 10px #A9A6A8;
}
.dir_btn2{
    width: 278px;
    height: 91px;
    background: #A56492;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    border: none;
    justify-content: center;
}
.dir_btn2:hover{
    box-shadow: 0 0 20px #A9A6A8;
}
.dir_name{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

/* mail */

.mail_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
}
.mail_subtitle{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.mail_input{
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}
.mail_input_content{
    background: #A9A6A8;
    border-radius: 20px;
    font-family: 'Montserrat';  
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    width: 278px;
    height: 60px;
    text-align: center;
    border: none;
}
.mail_input_content::placeholder{
    color: white;
}
.mail_content{
    width: 650px;
}
.mail_wrapper{
    display:flex;
}
.mail_input_content1{
    margin-top: 25px;
    border: none;
    background: #A9A6A8;
    border-radius: 20px;
    font-family: 'Montserrat';  
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    height: 60px;
    width: 640px;
    padding-left: 10px;
}
.mail_input_content1::placeholder{
    color: white;
}
.mail_btn{
    margin-top: 25px;
    width: 278px;
    height: 60px;
    background: #A56492;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    border: none;
    justify-content: center;
}
.mail_btn:hover{
    box-shadow: 0 0 20px #A9A6A8;
}

/*  */

